<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:900|Lato:300,400,700" rel="stylesheet">
    <title>Molson Decorating - Chicagoland painters</title>
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

<style>
    html, body{
        width: 100%;
    }
    .gallery{
        white-space: nowrap;
        background: #333;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .imgs{
        width: 100%;
        transition: margin 0.5s;
    }
    .no-animate{
        transition: none !important;
    }
    .imgs img{
        background: #333;
        width: 80%;
        /*width: 100%;*/
        margin-right: 5%;
        display: inline-block;
        vertical-align: middle;
    }
    img.full{
        width: 100%;
        margin: 0;
    }
    .gallery .imgs {
        padding-left: 10%;
        /*padding-right: 10%;*/
    }
    .button{
        border: 3px solid white;
        width: 1em;
        height: 1em;
        transform: rotate(45deg);
        margin-left: -0.5em;
        margin-top: -3px;
    }
    .left, .right{
        border: 5px solid transparent;
        position: absolute;
        font-size: 3em;
        top: 40%;
        color: white;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        overflow: hidden;
        opacity: 0.8;
        cursor: pointer;
        background: rgba(0, 0, 0, .8);
    }
    .left:hover, .right:hover{
        opacity: 1;
        background: rgba(204, 204, 204, .4);
    }
    .left{
        left: 10px;
        transform: rotate(180deg);
    }
    .right{
        right: -5px;
    }
</style>


<template id="gallery">
    <div class="gallery">
        <div v-if="images.length == 1">
            <img class="full" :src="path + images[0]">
        </div>
        <template v-if="images.length > 1">
            <div class="imgs" ref="frame" :style="'margin-left:-'+(imgWidth() + padWidth())*2+'px' ">
                <img :src="path + images[images.length-2]">
                <img :src="path + images[images.length-1]">
                <img v-for="i, c in images" :ref="'image-'+c" :src="path+i">
                <img :src="path + images[0]">
            </div>
            <div @click="goBack" class="left"><div class="button"></div></div>
            <div @click="advance" class="right"><div class="button"></div></div>
        </template>
    </div>
</template>


<script>
    Vue.component('gallery', {
        template: "#gallery",
        props: ["imgList", "path"],
        mounted: function(){
            window.addEventListener('resize', function(){
                console.log("resizing")
                var marg = parseInt(this.$refs.frame.style.marginLeft) || 0
                this.$refs.frame.style.marginLeft = 0 - (this.imgWidth() - this.padWidth())*this.index
            }.bind(this))
        },
        methods: {
            imgWidth: function(){ return window.outerWidth * .80 },
            padWidth: function(){ return window.outerWidth * .05 },
            advance: function(){
                console.log('advancing', this.index)
                var img = this.images[this.index]
                console.log(img)
                if (this.index+1 == this.images.length){
                    this.images = this.images.concat(this.images)
                }
                console.log(this.index, this.images)
                var marg = parseInt(this.$refs.frame.style.marginLeft) || 0
                console.log(marg)
                console.log('widths', this.imgWidth(), this.padWidth())
                this.$refs.frame.style.marginLeft = marg - this.imgWidth() - this.padWidth() +'px'
                console.log("math", marg - this.imgWidth() - this.padWidth())
                console.log('new marg', this.$refs.frame.style.marginLeft)
                this.index++
            },
            goBack: function(){
                var marg = parseInt(this.$refs.frame.style.marginLeft) || 0
                this.$refs.frame.style.marginLeft = marg + this.imgWidth() + this.padWidth() +'px'
                this.index--
                if (this.index < 0)
                    setTimeout(function(){
                        this.$refs.frame.classList.add('no-animate')
                        this.$refs.frame.style.marginLeft = 0 - (
                              this.imgWidth() + this.padWidth()
                              ) * (this.images.length + 1) +'px'
                        this.index = this.images.length - 1
                        this.$refs.frame.offsetHeight // read forces reflow
                        this.$refs.frame.classList.remove('no-animate')
                    }.bind(this), 500)
            }
        },
        data: function(){
            return {
                index: 0,
                images: this.imgList
            }
        }
    })
</script>
<nav>
    <img width="100px" style="float:left" src="logo.png">
    <p>
    
    <a href="tel:+1-630-945-8512">
        <strong>630.945.8512</strong>
    </a>
    
</p>
    <p>
    
        <a href="mailto:molson@molsondecorating.com">molson@molsondecorating.com</a>
    
</p>
</nav>
<section id="main">
    <a><img style="clear:both" width="200px;" src="logo.png"></a>
    <div>
        <div class="g-1-3"><p>
    
        <a href="mailto:molson@molsondecorating.com">molson@molsondecorating.com</a>
    
</p></div>
        <div class="g-1-3"><p>
    
    <a href="tel:+1-630-945-8512">
        <strong>630.945.8512</strong>
    </a>
    
</p></div>
        <div class="g-1-3"><p>2520 W Iowa #1, Chicago IL, 60622</p></div>
    </div>
</section>
<section class='lede'>
<h1>The right way is the only way!!</h1>
<p>That's what my grandfather taught me when I became his apprentice at age 13.</p>
<p>That is what our customers have experienced in our 5 years of service.</p>
<p><strong>We hope you will give us an opportunity to prove it to you.</strong></p>
</section>
<h1>Painting</h1>
<ul>
<li>Residential, commercial, industrial</li>
<li>Interior &amp; exterior</li>
<li>Faux finishes</li>
<li>Custom murals</li>
</ul>
<p>
    <div class="gallery-wrapper">
        <gallery path="images/Painting/" :img-list="[&#39;Bathrooms.jpg&#39;, &#39;Commercial_exterior.jpg&#39;]"></gallery>
    </div>
</p>
<h1>Wood renewal</h1>
<ul>
<li>Wood refinishing and restoration</li>
<li>Cabinet painting &amp; refinishing</li>
<li>Staining &amp; varnishing</li>
<li>Pressure washing</li>
</ul>
<p>
    <div class="gallery-wrapper">
        <gallery path="images/Wood renewal/" :img-list="[&#39;Wood Restoration.jpg&#39;]"></gallery>
    </div>
</p>
<h1>Wallcoverings</h1>
<ul>
<li>Wallpaper hanging &amp; removal</li>
<li>Anaglypta &amp; decorative panels</li>
<li>Precision-installed fixture coverings</li>
</ul>
<p>
    <div class="gallery-wrapper">
        <gallery path="images/Wallcoverings/" :img-list="[]"></gallery>
    </div>
</p>
<h1>Design consultation</h1>
<ul>
<li>Color and palatte choice</li>
<li>Wallcoverings</li>
<li>Accent walls and decorative flourishes</li>
</ul>
<p>
    <div class="gallery-wrapper">
        <gallery path="images/Design/" :img-list="[]"></gallery>
    </div>
</p>
<section class='contact'>
<h2>Get in touch</h2>
<p>
    
    <a href="tel:+1-630-945-8512">
        <strong>630.945.8512</strong>
    </a>
    
 • 
    
        <a href="mailto:molson@molsondecorating.com">molson@molsondecorating.com</a>
    
</p>
</section>
<p><form>
    <table>
        <tr>
            <td>Your name</td>
            <td><input name=""></td>
        </tr>
    </table>
</form></p>
<p class="cloak">Last generated 2018-04-08 02:34:31.498678</p>
<script>
    galleryEls = document.getElementsByClassName('gallery-wrapper')
    galleries  = Array.prototype.slice.call(galleryEls)
    var i = galleries.length
    while (i--) {
        new Vue({el: galleries[i]})
    }
    var nav = document.getElementsByTagName('nav')[0]
    window.onscroll = function(e){
        if (document.body.scrollTop >= 100 || document.documentElement.scrollTop >= 100)
            nav.style.top = 0
        else nav.style.top = "-100px"
    }
</script>
</body>
</html>