html,
body,
section {
    text-align: center;
    font-family: Lato;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    background: white;
    width: 100%;
    height: 100px;
    z-index: 1;
    top: 0;
    top: -100px;
    transition: top 0.5s;
    border-bottom: 1px solid #ddd;
    color: black;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

nav p {
    padding-top: 10px;
    margin: .3em;
    float: right;
    font-size: 1em;
    padding: 10px;
    width: 80%;
    line-height: .5em;
}

h1 {
    font-family: Catamaran;
    font-weight: 900;
    font-size: 4em;
    line-height: 1em;
    padding: 10px;
    margin: 1em 0 .25em 0;
}

#main {
    color: black;
    height: auto;
    border-color: white;
    padding-top: 2rem;
    padding: 20px;
}

div.g-1-3 {
    width: 33%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

section {
    clear: both;
    height: calc(100% - 100px);
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

section.lede {
    background: #333;
    color: white;
    padding: 1px 0px 5em;
    height: auto;
}

section.contact {
    background: #333;
    margin: 70px -20px 0;
    color: white;
    height: 150px;
    padding-top: 20px;
}

.top {
    position: relative;
}

.wrap {
    width: 500px;
    margin: auto;
}

p, li {
    font-size: 1.2em;
}

li {
    text-align: left;
    max-width: 400px;
    margin: auto;
    font-weight: 300;
}

.next {
    display: block;
    margin-top: 50px;
    font-weight: 700;
    font-family: Catamaran;
    font-size: 1.2em;
    cursor: pointer;
}

h2 {
    font-family: Catamaran;
}

a {
    color: orange;
    text-decoration: none;
    font-weight: normal;
}

.gallery-wrapper {
    margin-top: 5em;
}

@media(max-width: 500px) {
    section.words {
        padding: 20px 20px 40px;
    }
    nav {
        display: none;
    }
    h1 {
        font-size: 3em;
    }
    div.g-1-3 {
        width: 100%;
        padding: 0px;
    }
    .hide-mb,
    .next {
        display: none;
    }
}
