<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

<style>
    html, body{
        width: 100%;
    }
    .gallery{
        white-space: nowrap;
        background: #333;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .imgs{
        width: 100%;
        transition: margin 0.5s;
    }
    .no-animate{
        transition: none !important;
    }
    .imgs img{
        background: #333;
        width: 80%;
        /*width: 100%;*/
        margin-right: 5%;
        display: inline-block;
        vertical-align: middle;
    }
    img.full{
        width: 100%;
        margin: 0;
    }
    .gallery .imgs {
        padding-left: 10%;
        /*padding-right: 10%;*/
    }
    .button{
        border: 3px solid white;
        width: 1em;
        height: 1em;
        transform: rotate(45deg);
        margin-left: -0.5em;
        margin-top: -3px;
    }
    .left, .right{
        border: 5px solid transparent;
        position: absolute;
        font-size: 3em;
        top: 40%;
        color: white;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        overflow: hidden;
        opacity: 0.8;
        cursor: pointer;
        background: rgba(0, 0, 0, .8);
    }
    .left:hover, .right:hover{
        opacity: 1;
        background: rgba(204, 204, 204, .4);
    }
    .left{
        left: 10px;
        transform: rotate(180deg);
    }
    .right{
        right: -5px;
    }
</style>

{% raw %}
<template id="gallery">
    <div class="gallery">
        <div v-if="images.length == 1">
            <img class="full" :src="path + images[0]">
        </div>
        <template v-if="images.length > 1">
            <div class="imgs" ref="frame" :style="'margin-left:-'+(imgWidth() + padWidth())*2+'px' ">
                <img :src="path + images[images.length-2]">
                <img :src="path + images[images.length-1]">
                <img v-for="i, c in images" :ref="'image-'+c" :src="path+i">
                <img :src="path + images[0]">
            </div>
            <div @click="goBack" class="left"><div class="button"></div></div>
            <div @click="advance" class="right"><div class="button"></div></div>
        </template>
    </div>
</template>
{% endraw %}

<script>
    Vue.component('gallery', {
        template: "#gallery",
        props: ["imgList", "path"],
        mounted: function(){
            window.addEventListener('resize', function(){
                console.log("resizing")
                var marg = parseInt(this.$refs.frame.style.marginLeft) || 0
                this.$refs.frame.style.marginLeft = 0 - (this.imgWidth() - this.padWidth())*this.index
            }.bind(this))
        },
        methods: {
            imgWidth: function(){ return window.outerWidth * .80 },
            padWidth: function(){ return window.outerWidth * .05 },
            advance: function(){
                console.log('advancing', this.index)
                var img = this.images[this.index]
                console.log(img)
                if (this.index+1 == this.images.length){
                    this.images = this.images.concat(this.images)
                }
                console.log(this.index, this.images)
                var marg = parseInt(this.$refs.frame.style.marginLeft) || 0
                console.log(marg)
                console.log('widths', this.imgWidth(), this.padWidth())
                this.$refs.frame.style.marginLeft = marg - this.imgWidth() - this.padWidth() +'px'
                console.log("math", marg - this.imgWidth() - this.padWidth())
                console.log('new marg', this.$refs.frame.style.marginLeft)
                this.index++
            },
            goBack: function(){
                var marg = parseInt(this.$refs.frame.style.marginLeft) || 0
                this.$refs.frame.style.marginLeft = marg + this.imgWidth() + this.padWidth() +'px'
                this.index--
                if (this.index < 0)
                    setTimeout(function(){
                        this.$refs.frame.classList.add('no-animate')
                        this.$refs.frame.style.marginLeft = 0 - (
                              this.imgWidth() + this.padWidth()
                              ) * (this.images.length + 1) +'px'
                        this.index = this.images.length - 1
                        this.$refs.frame.offsetHeight // read forces reflow
                        this.$refs.frame.classList.remove('no-animate')
                    }.bind(this), 500)
            }
        },
        data: function(){
            return {
                index: 0,
                images: this.imgList
            }
        }
    })
</script>
