{% import 'info.txt' as i %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:900|Lato:300,400,700" rel="stylesheet">
    <title>{{ i.title }}</title>
</head>

