{% import 'info.txt' as i %}

{% macro get(item) %}
    {% if item == 'phone' %}
    <a href="tel:+1-{{ i.phone.replace('.', '-') }}">
        <strong>{{ i.phone }}</strong>
    </a>
    {% elif item == 'email' %}
        <a href="mailto:{{ i.email }}">{{ i.email }}</a>
    {% endif %}
{% endmacro %}


{% macro gallery(folder) %}
    <div class="gallery-wrapper">
        <gallery path="images/{{folder}}/" :img-list="{{ images[folder] }}"></gallery>
    </div>
{% endmacro %}
