<!DOCTYPE html>
{% import 'info.txt' as i %}
{% import 'macros.html' as m with context %}
<html>
{% include 'header.html' %}
<body>
{% include 'gallery.html' %}
<nav>
    <img width="100px" style="float:left" src="logo.png">
    <p>{{ m.get('phone') }}</p>
    <p>{{ m.get('email') }}</p>
</nav>
<section id="main">
    <a><img style="clear:both" width="200px;" src="logo.png"></a>
    <div>
        <div class="g-1-3"><p>{{ m.get('email') }}</p></div>
        <div class="g-1-3"><p>{{ m.get('phone') }}</p></div>
        <div class="g-1-3"><p>{{ i.address }}</p></div>
    </div>
</section>
{% include 'rendered-content.html' with context %}
<p class="cloak">Last generated {{ now }}</p>
<script>
    galleryEls = document.getElementsByClassName('gallery-wrapper')
    galleries  = Array.prototype.slice.call(galleryEls)
    var i = galleries.length
    while (i--) {
        new Vue({el: galleries[i]})
    }
    var nav = document.getElementsByTagName('nav')[0]
    window.onscroll = function(e){
        if (document.body.scrollTop >= 100 || document.documentElement.scrollTop >= 100)
            nav.style.top = 0
        else nav.style.top = "-100px"
    }
</script>
</body>
</html>
